.heading_1,
.heading_2,
.heading_3,
.paragraph,
.text,
.quote,
.code,
.list_item {
	margin: 1.7rem 0 0;
}
.paragraph + .paragraph {
	margin-top: 0.5rem;
}
.paragraph + .quote {
	margin-top: 0;
}
.paragraph a {
	font-weight: 700;
}
.list_item {
	font-size: 1rem;
	margin-left: 1em;
}
.list_item + .list_item {
	margin-top: 0.25rem;
}
.heading_1 + *,
.heading_2 + *,
.heading_3 + * {
	margin-top: 0.5rem;
}

.code {
	font: var(--font-annotation);
	padding: 0.8rem;
	display: block;
	box-sizing: border-box;
	background-color: rgba(200, 200, 200, 0.1);

	page-break-inside: avoid;
	font-family: monospace;
	max-width: 100%;
	overflow: auto;
	word-wrap: break-word;
}
.divider {
	margin: 2rem 0;
	border: none;
	border-top: 1px solid rgba(0, 0, 0, 1);
	height: 0;
	filter: invert(50%);
}
.quote {
	font-style: italic;
	quotes: "“" "”";
	padding-left: 1rem;
	border-left: 2px solid var(--text-color);
}
.quote::before {
	content: open-quote;
	margin-right: 0.2em;
}
.quote::after {
	content: close-quote;
	margin-left: 0.2em;
}
.bookmark {
	margin: 0.25rem 0;
	display: flex;
	gap: 0.25rem;
}
.bookmark figcaption {
	font: var(--font-annotation);
}
.embed {
	display: block;
}

.embed iframe {
	width: 100%;
	display: block;
	height: auto;
	aspect-ratio: 16 / 9;
}
.column_list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	align-items: flex-start;
	gap: 1rem;
	overflow: hidden;
}
.column {
	overflow: hidden;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	flex: 1 0 auto;
}
.image {
	width: 100%;
	margin-top: 1.7rem;
	display: block;
	position: relative;
}
.image img {
	display: block;
	height: auto;
	width: 100%;
}
.image figcaption {
	margin-top: 0.75em;
	font: var(--font-annotation);
}
