.entry {
	gap: 1rem;
	margin-bottom: 3rem;
	padding-bottom: 2.5rem;
	border-bottom: 1px dashed var(--text-color);
	width: min(100%, 45rem);
}

.entry * {
	text-decoration: none;
}

.entry time {
	font-size: 0.75em;
	opacity: 0.75;
}

.entry article a {
	text-decoration: underline;
}