.entry {
	gap: 1rem;
	width: 100%;
	margin-bottom: 3rem;
	padding-bottom: 3rem;
	border-bottom: 1px dashed var(--text-color);
	width: min(100%, 45rem);
}

.entry * {
	text-decoration: none;
}

.entry p {
	margin-bottom: 0;
}

.entry time {
	font-size: 0.75em;
	opacity: 0.75;
}

.entry header,
.entry header * {
	margin: 0;
	padding: 0;
}

.entry header {
	position: sticky;
	background: var(--page-background);
	top: 70px;
	padding-top: 0.75rem;
	padding-bottom: 0.5rem;
	margin-bottom: 1rem;
	z-index: 100;
}

.entry article {
	margin: auto;
}

.entry a {
	font-weight: inherit;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	width: 100%;
}

.entry a:hover,
.entry a:focus {
	opacity: 0.7;
}