.footer {
	box-sizing: border-box;
	padding: 2.5rem;
	width: 100%;
	text-align: center;
	font: var(--font-annotation);
}

.footerHeader {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	font: var(--font-annotation);
	font-weight: 900;
	margin-bottom: 0.75em;
}

.footerNav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5em;
	justify-content: center;
}

.footerNav a {
	font-weight: 400;
	font-size: 0.6rem;
	text-decoration: none;
}

.footerNav a:hover {
	text-decoration: underline;
}

.footerNav a:after {
	content: "/";
	margin-left: 0.5em;
	text-decoration: none;
	pointer-events: none;
	cursor: default;
}

.footerNav a:last-of-type:after {
	display: none;
}
