.grid {
	display: grid;
	grid-template-columns: repeat(16, calc(100vw / 16 - 1rem));
	grid-template-rows: repeat(32, calc(100vw / 16 - 1rem));
	gap: 1rem;
	min-width: 800px;
	max-width: (2rem - 100vw);
	margin: auto;
	margin-top: 5vh;
}

@media (max-width: 800px) {
	.grid {
		display: flex;
		flex-direction: column;
		padding: 1rem;
		min-width: 1px;
	}
}