.hero {
	box-sizing: border-box;
	width: 100%;
	padding: 1.5rem;
	z-index: 1000;
	position: relative;
}

.hero_text  {
	z-index: 0;
	position: relative;
	pointer-events: none;
	font: var(--font-display);
	font-size: clamp(2.25rem, 1.7996rem + 1.8909vw, 3.75rem);
	display: inline-block;
	letter-spacing: -0.02em;
	font-weight: 400;
	word-break: break-word;
	overflow-wrap: break-word;
	hyphens: auto;

}

.poster {
	display: inline-block;
	aspect-ratio: 2 / 1;
	height: 0.8em;
	top: 0.1em;
	margin: 0 0.25em;
	align-self: baseline;
	cursor: pointer;
	z-index: 1;
	position: relative;
	pointer-events: all;
	box-sizing: border-box;
	overflow: visible;
}
.poster_expanded {
	z-index: 100;
}

.poster::before {
	position: absolute;
	width: 200%;
	height: 200%;
	transform: translate(-25%, -25%);
	transform-origin: center center;
	content: "";
}

.picture {
	aspect-ratio: 1 /1;
}

.picture_expanded {
	width: 20rem;
	height: 20rem;
	transform: translate(calc(-50% + 45px), calc(-50% + 45px));
	transform-origin: center center;
	position: fixed;
	z-index: 2;
}
