.hero {
	box-sizing: border-box;
	width: 100%;
	padding: 1.5rem;
}

.hero_text  {
	z-index: 0;
	position: relative;
	pointer-events: none;
	font: var(--font-display);
	font-size: clamp(2.5rem, 1.7996rem + 1.8909vw, 3.75rem);
	display: inline-block;
	letter-spacing: -0.02em;
	font-weight: 400;
	text-transform: uppercase;
}

.poster {
	display: inline-block;
	aspect-ratio: 1 / 1;
	height: 0.75em;
	margin: 0;
	align-self: baseline;
	cursor: pointer;
	z-index: 1;
	position: relative;
	pointer-events: all;
	box-sizing: border-box;
	overflow: visible;
}
.poster_expanded {
	z-index: 100;
}

.poster::before {
	position: absolute;
	width: 200%;
	height: 200%;
	transform: translate(-25%, -25%);
	transform-origin: center center;
	content: "";
}

.picture {
	aspect-ratio: 1 /1;
}

.picture_expanded {
	width: 20rem;
	height: 20rem;
	transform: translate(calc(-50% + 45px), calc(-50% + 45px));
	transform-origin: center center;
	position: fixed;
	z-index: 2;
}
