.mast {
	position: sticky;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	top: 0;
	max-width: 100%;
	box-sizing: border-box;
	padding: 0.5rem 1rem;
	height: auto;
	background: var(--page-background);
	z-index: 1001;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.mast nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	gap: 1.25em;
}

.mast nav > *:first-of-type {
	margin-right: auto;
}

.mast * {
	text-decoration: none;
	font-weight: 400;
	font-size: 1rem;
	font-family: "adonis-web";
}

.mast nav a:hover {
	text-decoration: underline;
}
