.mast {
	height: auto;
	position: sticky;
	top: 0;
	width: min(100%, 45rem);
	box-sizing: border-box;
	padding: 0 1.5rem;
	margin: 0 auto;
	background: var(--page-background);
	z-index: 9999;
}
.mast nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	gap: 1rem;
	padding: 1rem 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.mast nav a {
	text-decoration: none;
	font-size: 1.2rem;
	text-transform: uppercase;
}

.mast nav a:hover {
	opacity: 0.75;
}
