.mast {
	height: auto;
	position: sticky;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 0 1.25em 0;
	margin: 0 auto;
	background: var(--page-background);
	z-index: 1001;
}
.mast nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	gap: 1rem;
	padding: 0.75em 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}
.mast nav a {
	text-decoration: none;
	font-weight: 400;
	font-size: 1rem;
	font-family: "ibm-plex-mono";
}

.mast nav a:hover {
	opacity: 0.75;
}
