.poster {
	display: inline-block;
	aspect-ratio: 2 / 1;
	border-radius: 0.05em;
	height: 0.8em;
	top: 0.05em;
	margin: 0 0.25em;
	align-self: baseline;
	cursor: pointer;
	z-index: 1;
	position: relative;
	pointer-events: all;
	box-sizing: border-box;
	overflow: hidden;
}
.poster_expanded {
	z-index: 100;
}

.picture {
	aspect-ratio: 1 /1;
    pointer-events: "none",
}

.picture_expanded {
	width: 20rem;
	height: 20rem;
	transform: translate(-50%, -33%);
	transform-origin: center center;
	position: fixed;
	z-index: 2;
}
