.app,
.app * {
  font: var(--font-copy);
}

.app {
  background: var(--color-lightest);
  min-height: 100vh;
}

.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-rows: auto;
  grid-auto-flow: dense;
  gap: 32px;
  width: 100%;
  padding: 0 32px;
  box-sizing: border-box;
  align-items: flex-start;
}

.small {
  grid-column: auto / span 2;
}

.medium {
  grid-column: auto / span 3;
}

.large {
  grid-column: auto / span 4;
}

.module {
  position: relative;
  display: block;
  flex-direction: column;
  flex: 0;
  overflow: hidden;
  font-family: "IBM Plex Mono", monospace;
  align-items: flex-start;
  justify-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
}

.module picture {
  position: relative;
  display: block;
  height: auto;
  aspect-ratio: 3 / 2;
  width: 100%;
  max-height: 600px;
}

.module .description {
  position: relative;
  padding: 32px 32px 32px 0;
}

.small.module picture {
  aspect-ratio: 2 / 3;
}

.medium {
  grid-column: auto / span 3;
}

.large {
  grid-column: auto / span 4;
}

.hero {
  padding: 32px;
  width: 100%;
  box-sizing: border-box;
}