.app {
  background: rgb(252, 249, 238);
  min-height: 100vh;
}

.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-auto-rows: min-content;
  grid-auto-flow: dense;
  width: 100%;
  padding: 32px;
  box-sizing: border-box;
  align-items: start;
  gap: 36px;
  row-gap: 96px;
}

@media(max-width: 768px) {
  .grid {
    grid-template-columns: 100%;
    grid-auto-flow: initial;
    grid-auto-columns: 0;
  }
}

.smol {
  grid-column: auto / span 3;
}

.small {
  grid-column: auto / span 4;
}

.medium {
  grid-column: auto / span 6;
}

.large {
  grid-column: auto / span 8;
}

@media(max-width: 768px) {
  .smoll,
  .small,
  .medium,
  .large {
    grid-column: 1 / 1;
  }
}

.module {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 16px;
  justify-content: space-between;
}

.module a {
  height: 100%;
  display: contents;
}

@media(max-width: 768px) {
  .module {
    height: auto;
  }
}

.module picture {
  position: relative;
  aspect-ratio: 4 / 3 ;
  width: 100%;
  box-sizing: border-box;
  background: rgb(241, 239, 228);
  flex-grow: 1;
}

@media(max-width: 768px) {
  .module picture {
    width: 100%;
    aspect-ratio: 2 / 3;
  }
}

.module .description {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-self: flex-end;
}

.module .description p {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

@media(max-width: 768px) {
  .module .description {
    height: auto;
  }
}

.smol.module picture,
.small.module picture {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 2 / 3;
}

.hero {
  padding: 32px;
  width: 100%;
  box-sizing: border-box;
}

.sidekick {
  display: flex;
  margin: 32px;
  width: calc(100% - 64px);
  box-sizing: border-box;
  border-bottom: 1px solid #000;
  background: none;
}