.app,
.app p {
  font-family: var(--font-copy);
}

article.app {
  background: var(--color-lightest);
  min-height: 100vh;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-areas: "header header header" "aside content content";
  gap: 30px;
  grid-template-columns: minmax(100px, 30%) minmax(300px, 70%);
}

article.app header {
  grid-area: header;
}

article.app aside {
  grid-area: aside;
}

article.app section {
  grid-area: content;
}

.carousel {
  position: sticky;
  top: 0;
}