
.article {
    display: flex;
    flex-direction: column;
    width: min(100%, 1200px);
    box-sizing: border-box;
    padding: 0 max(1rem, 2rem);
    margin: 2rem auto;
    justify-self: center;
}

.header {
    margin-bottom: 1rem;
    font-size: 0.75rem;
    text-align: center;
}

.header h1 {
    margin-bottom: 0.1rem;
}