.article {
	width: min(100%, 45rem);
	box-sizing: border-box;
	padding: 0 1.5rem;
	margin: 4rem auto 0;
}
.article > h2, .article > h3 {
	margin-bottom: 0 !important;
}
.header {
	margin: 0 auto 2em;
	text-align: center;
	width: max(75%, 20rem);
}
.header h1 {
	margin-bottom: 0.15em;
}
