html,
body {
	font: var(--font-body);
	font-size: clamp(1rem, 0.7996rem + 0.8909vw, 2rem);
	font-kerning: normal;
	-webkit-font-smoothing: subpixel-antialiased;
}
h1 {
	font: var(--font-display);
	font-size: 3.25rem;
	margin: 0 0 1.8rem 0;
	line-height: 1em;
	letter-spacing: -0.01em;
	text-transform: capitalize;
}
h2 {
	font: var(--font-display);
	font-size: 1.8rem;
	margin: 0 0 0.1em;
	line-height: 1, 1em;
	letter-spacing: -0.02em;
	text-transform: capitalize;
}
h3 {
	font: var(--font-display);
	font-size: 1.6rem;
	margin: 0 0;
	line-height: 1.1em;
	letter-spacing: -0.02em;
	text-transform: capitalize;
}
h5 {
	font-size: 0.8rem;
}
h6 {
	font-size: 0.6rem;
}
p,
blockquote {
	line-height: 1.4em;
	margin: 0.2rem 0 0.6rem;
}
a {
	font: inherit;
	font-weight: 700;
}
em {
	font-style: italic;
}
code,
time {
	font: var(--font-annotation);
}