html,
body {
	font: var(--font-body);
	font-size: clamp(1rem, 0.7996rem + 0.8909vw, 2rem);
	font-kerning: normal;
	-webkit-font-smoothing: subpixel-antialiased;
}
h1 {
	font: var(--font-display);
	font-size: 3rem;
	margin: 0 0 1.8rem 0;
	line-height: 1em;
	letter-spacing: -0.01em;
	text-transform: capitalize;
}
h2 {
	font: var(--font-display);
	font-size: 1.8rem;
	margin: 0 0 0.75em 0;
	line-height: 1, 1em;
	letter-spacing: -0.02em;
	text-transform: capitalize;
}
h3 {
	font: var(--font-display);
	font-size: 1.6rem;
	margin:0 0  0.75em 0;
	line-height: 1.1em;
	letter-spacing: -0.02em;
	text-transform: capitalize;
}
h5 {
	font-size: 0.8rem;
}
h6 {
	font-size: 0.6rem;
}
p,
blockquote {
	line-height: 1.2em;
}
p {
	margin-bottom: 1.5rem;
}
a {
	font: inherit;
}
em {
	font-style: italic;
}
code	 {
	font: var(--font-annotation);
}

article {
	display: flex;
	flex-direction: column;
}
