:root {
	--color-dark: rgb(16, 16, 16);
	--color-medium: rgb(32, 32, 32);
	--color-light: rgb(200, 200, 200);
	--color-lightest: rgb(255, 255, 255);
	--color-blue: #97dbda;
	--color-gray: rgb(249,247,242);
	--color-brown: #61381c;
	--color-gold: #e6b870;
	--color-tan: rgba(249,225,180, 1);
	--color-green: rgb(119, 144,110);
	--color-neutral: var(--color-green);

	--font-annotation: normal normal 400 0.8rem/1.4em "ibm-plex-mono", sans-serif;
	--font-body: normal normal 400 0.8rem/1.4em "adonis-web", sans-serif;
	--font-display: normal normal 700 2.75rem/1.1em "adonis-web", sans-serif;
	--font-presentation: normal normal 700 2.75rem/1.1em "adonis-web", sans-serif;
}

:root {
	--text-color: var(--color-dark);
	--page-background: var(--color-green);
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: var(--color-light);
		--page-background: var(--color-dark);
		--color-neutral: var(--color-medium);
	}
}

html,
body {
	color: var(--text-color);
	background: var(--page-background);
}
